:root {
  --background-color: #0e0f0f;
  --text-color: white;
  --secondary-text-color: #aaa;
  --card-bg: #171819;
  --border-radius: 12px;
  --button-hover: #e60000;
  --scrollbar-track: #2f2f2f;
  --scrollbar-thumb: #4e4e4e;
  --scrollbar-thumb-hover: #7d7d7d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 18px;
  padding-top: 18px;
}

.header {
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: end;
  align-items: center;
  max-width: 1800px;
  margin-top: 22px;
  position: fixed;
  top: 0;
  left: 0;
  right: 12px;
  z-index: 1000;
}

.header a {
  font-size: 0.9rem;
  margin-left: 12px;
  text-decoration: none;
  transition: color 0.3s;
  color: var(--secondary-text-color);
  background: var(--card-bg);
  padding: 6px 14px;
  border-radius: var(--border-radius);
  border: 4px solid var(--background-color);
}

.title {
  font-size: 1.5rem;
  color: #f0f0f0;
}

.files-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 28px;
  width: 100%;
  max-width: 1800px;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
}

.card {
  background: var(--card-bg);
  border-radius: var(--border-radius);
  text-align: center;
  word-break: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.card.focused {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
}

.image-container {
  cursor: pointer;
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.05);
}

.movie-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 12px;
}

.movie-detail-container a {
  font-size: 1rem;
  color: #f0f0f0;
  font-weight: bold;
  text-decoration: none;
}

.movie-detail-container p {
  font-size: 0.85rem;
  color: var(--secondary-text-color);
}

.edit-button,
.delete-button {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px); /* Adds glass effect */
  color: var(--text-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    background 0.3s ease-in-out;
}

/* Edit Button (Rotated Pencil) */
.edit-button {
  left: 10px;
  transform: translate(0, 0) rotate(135deg);
}

/* Delete Button */
.delete-button {
  right: 10px;
}

/* Hover Effects */
.card:hover .edit-button,
.card:hover .delete-button {
  opacity: 1;
  visibility: visible;
}

/* Hover Interactions */
.edit-button:hover,
.delete-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

#moviePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: 60px 20px 20px;
  border-radius: var(--border-radius);
  overflow-y: auto;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
}

#moviePopup .card {
  max-height: 450px;
}

#moviePopup h4 {
  position: absolute;
  top: 12px;
  left: 22px;
  font-weight: 600;
  font-size: 16px;
  background: var(--card-bg);
  color: #fff;
  padding: 8px 16px;
  border-radius: var(--border-radius);
}

#moviePopup button {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  background: var(--card-bg);
  color: #fff;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

#moviePopup .close-button {
  top: 12px;
  right: 22px;
}

#moviePopup .clear-button {
  top: 12px;
  right: 110px;
}

.search-container {
  position: absolute;
  top: 12px;
  right: 287px;
}
.search-container input {
  font-weight: 600;
  padding: 8px 20px;
  border-radius: var(--border-radius);
  background: var(--card-bg);
  color: #fff;
  outline: none;
}
.search-container input::placeholder {
  font-weight: 600;
}
.search-container button {
  left: 208px;
}

#moviePopup button:hover {
  background: var(--button-hover);
}

/* Toast Container */
#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

/* Toast Message */
.toast {
  padding: 12px 16px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Fade Out Effect */
.fade-out {
  opacity: 0;
}

/* Toast Variants */
.toast-success {
  background-color: #28a745;
} /* Green */
.toast-error {
  background-color: #dc3545;
} /* Red */
.toast-warning {
  background-color: #ffc107;
} /* Yellow */
.toast-info {
  background-color: #17a2b8;
} /* Blue */

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--border-radius);
  border: 2px solid var(--scrollbar-track);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
